<div class="card-container">
  <div class="info-section">
    <h1>McDonald's</h1>
    <h2>Downtown Cairo</h2>
    <p class="address">Mohammed Mahmoud, Ad Dawawin, Abdeen, Cairo Governorate 4280101</p>
    <p class="label">Phone number</p>
    <a class="phone-number" href="tel:0221600377">0221600377</a>
    <p class="label">Website</p>
    <a class="website-link" href="http://mcdonalds.eg/">http://mcdonalds.eg/</a>
  </div>
  <div class="map-section">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7752.982791739209!2d31.228885369220485!3d30.049443090885877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458415011f24337%3A0x4da69b830c1df34d!2sMcDonald&#39;s%20Tahrir%20Branch!5e0!3m2!1sen!2seg!4v1756038762589!5m2!1sen!2seg"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>
