<div class="container">
  <h2>Buy By Restaurant</h2>
  <div class="logos">
<div class="logo mcd" [routerLink]="['/restaurants-page']">
      <img src="./assets/mac.png" alt="McDonald's">
    </div>

    <div class="logo chick" [routerLink]="['/coming-soon']">
      <img src="./assets/chickers.png" alt="Chickers">
    </div>
  <div class="logo kfc" [routerLink]="['/coming-soon']">
    <img src="./assets/kfc.png" alt="KFC">
  </div>
    <div class="logo bk" [routerLink]="['/coming-soon']">
      <img src="./assets/burgerking.png" alt="Burger King">
    </div>
    <div class="logo bww" [routerLink]="['/coming-soon']">
      <img src="./assets/bufflo.png" alt="Buffalo Burger">
    </div>
    <div class="logo pizza" [routerLink]="['/coming-soon']">
      <img src="./assets/pizza.png" alt="Pizza Hut">
    </div>
  </div>
</div>
